<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis的DTD约束-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--configuration 核心根标签-->
<configuration>

    <typeAliases>
        <typeAlias type="com.chason.entity.english.EngWords" alias="engWord"/>
        <typeAlias type="com.chason.entity.english.EngSentence" alias="engSentence"/>
    </typeAliases>

    <!--environments配置数据库环境，环境可以有多个。default属性指定使用的是哪个-->
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://127.0.0.1:5200/words_remember" />
                <property name="username" value="glue" />
                <property name="password" value="Glue01_glue" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/EngWordsMapper.xml"/>
        <mapper resource="mapper/EngSentenceMapper.xml"/>
    </mappers>
</configuration>
